body{
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: "gauche droite";
    overflow-y: scroll;
}

#gauche{
    grid-area: gauche;
    background-image: url(../images/nicole.jpg);
    background-size: cover;
    height: 100vh;
    position: sticky;
    top: 0;
}

#droite{
    grid-area: droite;
    background-color: #f9f9f9;
}

/* Partie de gauche */

#logo89{
    display: inline;
    vertical-align: text-top;
    height: 8vh;
    margin-right: 5vh;
}

h1{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 400;
    color: white;
    text-decoration: underline solid blue 1px;
    width: min-content;
    display: inline-flex;
    line-height: 6vh;
}

#latest-news{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: right;
    margin: 2vh;
    padding: 2vh;
    margin-top: 30vh;
}

h2{
    font-weight: 400;
    font-size: 3.5vh;
}

strong{
    font-weight: bold;
}

em{
    font-size: 2.5vh;
}

footer{
    position: absolute;
    bottom: 0px;
    right: 10px;
}

footer ul li{
    display: inline;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
}

footer ul li a.bas-de-page{
    color: white;
    text-transform: capitalize;
}

footer ul li a.bas-de-page:hover{
    color: rgb(212, 212, 212);
    text-transform: capitalize;
}

/* Partie de droite */

#formulaire{
    margin: 2%;
    margin-bottom: 1%;
}

h3{
    font-size: 5vh;
    font-weight: 700;
    margin-bottom: 2%;
}

p.formu{
    margin-bottom: 1%;
}

input#email{
    width: 100%;
    height: 4vh;
    margin-bottom: 3%;
    border-radius: 5px;
    border: none;
    border: solid 1px grey;
    padding-left: 1vh;
}

#message{
    width: 100%;
    height: 15vh;
    margin-bottom: 2%;
    border-radius: 5px;
}

input#bouton{
    display: block;
    background-color: rgb(59, 95, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.6vh 1.5vh;    
}

input#bouton:hover{
    display: block;
    background-color: rgb(31, 57, 173);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.6vh 1.5vh;
}

a#rtr{
    text-decoration: underline solid 1px;
    margin-left: 2%;
}